#board-container {
  height:auto;
  width: auto;
}

#board-grid {
  display: grid;
  grid-template-columns: 70px 70px 70px 70px 70px 70px 70px;
  grid-template-rows: 70px 70px 70px 70px 70px 70px 70px;
  position: relative;
  height: 490px;
  width: 490px;
  background-color: #26413C;
}

#question-card{
  padding-top: 70px;
}

.playerPiece {
  height: 30px;
  width: 30px;
  border-radius:50%;
  position: absolute;

  background-color: black;
  transition: all 0.2s linear;
}

.movies, .science, .sports, .history,
.music, .books {
  border: 1px solid gray;
}
.science{
  background-color: #F8333C;
}

.sports {
 background-color: #FCAB10;
}

.movies{
  background-color: #44AF69;
}

.history {
  background-color: #2B9EB3;
}

.music {
  background-color: #6A4699;
}

.books {
  background-color: #840032;
}
