#board-grid {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px 50px 50px 50px;
  position: relative;
  height: 350px;
  width: 350px;
  background-color: azure;
}
#player-piece {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  transition: all 0.2s linear;
}
.board-square {
  border: 1px solid gray;
  background-color: azure;
}
