#board-grid {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px 50px 50px 50px;
  position: relative;
  height: 350px;
  width: 350px;
  background-color: #26413C;
}
#player-piece {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  transition: all 0.2s linear;
}

.movie-square, .science-square, .sport-square, .history-square,
.music-square, .books-square, .board-square {
  border: 1px solid gray;
}
.science-square {
  background-color: #F8333C;
}

.sport-square {
 background-color: #FCAB10;
}

.movie-square {
  background-color: #44AF69;
}

.history-square {
  background-color: #2B9EB3;
}

.music-square {
  background-color: #6A4699;
}

.books-square {
  background-color: #840032;
}
