#board-container {
  display: flex;
  justify-content: center;
}

#board-grid {
  box-shadow: 0 3px 12px gray, 0 3px 5px rgba(0, 0, 0, .2);
  border: 1px solid gray;
  width: 560px;
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;
  /* grid-gap: 1rem; */
  grid-template-columns: repeat(7, 80px);
  grid-template-rows: repeat(7, 80px);
  /* display: grid;
  grid-template-columns: 70px 70px 70px 70px 70px 70px 70px;
  grid-template-rows: 70px 70px 70px 70px 70px 70px 70px;
  position: relative;
  height: 490px;
  width: 490px;
  background-color: #26413C; */
}

#board-grid>div:nth-child(1) {
  grid-row: 1;
  grid-column: 1;
}

#board-grid>div:nth-child(2) {
  grid-row: 1;
  grid-column: 2;
}

#board-grid>div:nth-child(3) {
  grid-row: 1;
  grid-column: 3;
}

#board-grid>div:nth-child(4) {
  grid-row: 1;
  grid-column: 4;
}

#board-grid>div:nth-child(5) {
  grid-row: 1;
  grid-column: 5;
}

#board-grid>div:nth-child(6) {
  grid-row: 1;
  grid-column: 6;
}

#board-grid>div:nth-child(7) {
  grid-row: 1;
  grid-column: 7;
}

#board-grid>div:nth-child(8) {
  grid-row: 2;
  grid-column: 1;
}

#board-grid>div:nth-child(9) {
  grid-row: 2;
  grid-column: 4;
}

#board-grid>div:nth-child(10) {
  grid-row: 2;
  grid-column: 7;
}

#board-grid>div:nth-child(11) {
  grid-row: 3;
  grid-column: 1;
}

#board-grid>div:nth-child(12) {
  grid-row: 3;
  grid-column: 4;
}

#board-grid>div:nth-child(13) {
  grid-row: 3;
  grid-column: 7;
}

#board-grid>div:nth-child(14) {
  grid-row: 4;
  grid-column: 1;
}

#board-grid>div:nth-child(15) {
    grid-row: 4;
    grid-column: 2;
  }

#board-grid>div:nth-child(16) {
    grid-row: 4;
    grid-column: 3;
  }
#board-grid>div:nth-child(17) {
    grid-row: 4;
    grid-column: 4;
  }
#board-grid>div:nth-child(18) {
    grid-row: 4;
    grid-column: 5;
  }
#board-grid>div:nth-child(19) {
    grid-row: 4;
    grid-column: 6;
  }
#board-grid>div:nth-child(20) {
    grid-row: 4;
    grid-column: 7;
  }
#board-grid>div:nth-child(21) {
    grid-row: 5;
    grid-column: 1;
  }
#board-grid>div:nth-child(22) {
    grid-row: 5;
    grid-column: 4;
  }
#board-grid>div:nth-child(23) {
    grid-row: 5;
    grid-column: 7;
  }
#board-grid>div:nth-child(24) {
    grid-row: 6;
    grid-column: 1;
  }
#board-grid>div:nth-child(25) {
    grid-row: 6;
    grid-column: 4;
  }
#board-grid>div:nth-child(26) {
    grid-row: 6;
    grid-column: 7;
  }
#board-grid>div:nth-child(27) {
    grid-row: 7;
    grid-column: 1;
  }
#board-grid>div:nth-child(28) {
    grid-row: 7;
    grid-column: 2;
  }
#board-grid>div:nth-child(29) {
    grid-row: 7;
    grid-column: 3;
  }
#board-grid>div:nth-child(30) {
    grid-row: 7;
    grid-column: 4;
  }
#board-grid>div:nth-child(31) {
    grid-row: 7;
    grid-column: 5;
  }
#board-grid>div:nth-child(32) {
    grid-row: 7;
    grid-column: 6;
  }
#board-grid>div:nth-child(33) {
    grid-row: 7;
    grid-column: 7;
  }

#question-card {

}
.board-piece {
  display: none;
  position: absolute;
  z-index: 1;
  top: 4px;
  left: 4px;
  height: 34px;
  width: 34px;
  border-radius:50%;
  background-color: black;
  transition: all 0.4s linear;
  box-shadow: 0 2px 5px gray, 0 3px 2px rgba(0, 0, 0, .2);
}
#p2-piece {
  background-color: white;
  top: 42px;
  left: 42px;
}
#p3-piece {
  background-color: lightgray;
  top: 3px;
  left: 42px;
}
#p4-piece {
  background-color: darkgray;
  top: 42px;
  left: 3px;
}
.highlighted-move {
  color: white;
  border: 2px solid white;
}
.highlighted-move:hover {
  cursor: pointer;
}
/*
.playerPiece {
  height: 30px;
  width: 30px;
  border-radius:50%;
  background-color: black;
  transition: all 0.2s linear;
} */

/* #player2 {
  background-color: white;
  bottom: 0;
} */

.movies, .science, .sports, .history,
.music, .books {
  /* border: 1px solid black; */
  position: relative;
}

.science {
  background-color: #F99F3E;
}

.sports {
  background-color: #FDE74C;
}

.movies{
  background-color: #89FFD1;
}

.history {
  background-color: #51A5EF;
}

.music {
  background-color: #F475E3;
}

.books {
  background-color: #FF5647;
}

#diePlace {
  display: inline-block;
  text-align: center;
  background-color: white;
  height: 70px;
  width: 70px;
  border: 1px solid gray;
  border-radius: 8px;
  font-size: 40px;
  line-height: 70px;
}

#dieButton {
  border-radius: 6px;
  border: none;
  color: black;
  margin-top: 20px;
  text-transform: uppercase;
  width: 70px;
  height: 20px;
  cursor: pointer;
  text-align: center;
}
