#start-screen {
  position: fixed;
  z-index: 2;
  background-color: #AFBED1;
  width: 100%;
  height: 100%;
  color: #165D7A;
  font-family: 'Black Ops One', cursive;
}

#start-screen h1 {
  text-align: center;
}

#start-screen-form {
  font-family: 'Graduate', cursive;
  align: vertical;
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr;
  width: 50%;
  margin: 10% auto;
}
#start-screen-form input, #start-screen-form label {
  font-size: 1.2em;
  margin: 1em;
}
#start-screen-form input[type="submit"] {
  cursor: pointer;
  grid-column-start: 2;
}

.wrapper {
font-family: 'Graduate', cursive;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "game game"
  "board player"
  "board card";
  grid-template-rows: 1fr 2fr 3fr;
  grid-template-columns: 2fr 1fr;
}

.wrapper #game-view-container {
  grid-area: game;
  display: flex;
  justify-content: space-evenly;
}

.wrapper #board-container {
  grid-area: board;
}

.wrapper #player-view-container {
  grid-area: player;
}

.wrapper #question-card {
  margin-left: .5em;
  font-family: 'Montserrat', sans-serif;
  grid-area: card;
}

.wrapper #question-card ul {
  list-style-type: none;
}
