
.scaler-container {
  background: rgb(29, 39, 57);
  background: black;
  border-radius: 50%;
  box-shadow: 0 1px 2px gray, 0 2px 2px rgba(0, 0, 0, .2);
  height: auto;
  /* left: 26px; */
  pointer-events: none;
  display: inline-block;
  position: relative;
  width: auto;
}

.scaler {
  -webkit-transform: scale(0.25);
  -webkit-transform-origin: 0 0;
  /* height: 50px; */
  height: 10vw;
  width: 10vw;
  min-height: 25px;
  margin: 3px;
  /* width: 50px; */
  min-width: 25px;
}

.segments {
  min-height: 100px;
  min-width: 100px;
  height: 40vw;
  width: 40vw;
  border-radius: 50%;
  /* height: 200px; */
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  /* width: 200px; */
}

.segment {
  -webkit-transform-origin: 0 100%;
  background: rgb(227, 234, 249);
  box-shadow: 0 0 0 6px rgb(29, 39, 57) inset;
  height: 50%;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}

/* movies */
.segments > :nth-child(3) {
  background-color: #78EDB3;
}
/* science */
 .segments > :nth-child(1) {
  background-color: #F99F3E;
}
/* sports */
  .segments > :nth-child(2) {
  background-color: #FDE74C;
}
/* history */
  .segments > :nth-child(4) {
  background-color: #51A5EF;
}
/* music */
  .segments > :nth-child(5) {
  background-color: #F475E3;
}
/* books */
  .segments > :nth-child(6) {
  background-color: #F96377;
}
