#diePlace {
  display: inline-flex;
  justify-content: center;
  font-size: 2em;
  line-height: 1.8em;
  background-color: white;
  width: 12vw;
  height: 12vw;
  border: 1px solid gray;
  border-radius: 4px;
  box-shadow: 0 1px 2px gray, 0 2px 2px rgba(0, 0, 0, .2);
  margin: .5em;
}

#dieButton {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  color: black;
  margin: .5em;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 1px 2px gray, 0 2px 2px rgba(0, 0, 0, .2);
  width: 15vw;
  height: 5vw;
}

#timer {
  -webkit-animation: 1s blink step-end infinite;
}

@-webkit-keyframes "blink" {
  from, to {
    color: #F96377;
  }
  50% {
    color: black;
  }
}

@media (min-width: 600px) {
  #dieButton {
    display: inline-flex;
    justify-content: center;
    border-radius: 8px;
    width: 70px;
    height: 25px;
  }
  #diePlace {
    display: inline-flex;
    justify-content: center;
    border-radius: 8px;
    height: 70px;
    width: 70px;
    font-size: 45px;
    line-height: 70px;
  }
}
